@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-8">Welcome my Game Catalog</h1>
    <p>
        Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
    <img src=https://www.likeni.ru/upload/medialibrary/e5e/6.gif   width="75%/>

</div>
