@using GamesData
@{
    ViewData["Title"] = "Index";
}
@{
    IEnumerable<GamesData.Models.GameGenre> displaydata = ViewData["Results"] as IEnumerable<GamesData.Models.GameGenre>;
}
<h1> Games </h1>
<h3> Games and his genres</h3>
<hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name Game</th>
                <th>Name Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in displaydata)
            {
                <tr>
                    @*<td>@item.NameGame</td>
                    <td>@item.NameGenres</td>*@                   
                </tr>
            }
        </tbody>
    </table>




